h1
{
    color:brown;
    font-weight: bold;
}

button
{
    background-color: darkblue;
    color: aliceblue;
}

q{
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}

.img_banner
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright
{
    margin: 0 auto;
    font-style:italic;
    font-size: small;
    color:gray
}

.vertical-menu
{
    width: 200px;
}

.vertical-menu a
{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover
{
    background-color: #ccc;
}